

<script src="javascripts/general/reportes/proyecto/reporteProyectoCtl.js" type="text/javascript"></script>
<script src="javascripts/general/reportes/proyecto/reporteProyectoSer.js" type="text/javascript"></script>
<script src="javascripts/general/actividad/actividadSer.js" type="text/javascript"></script>

<script src="javascripts/general/tarea/tareaSer.js" type="text/javascript"></script>
<script src="javascripts/general/proyecto/proyectoSer.js" type="text/javascript"></script>
<div ng-controller="CtlReporte" class="container">

  <div class="form-group">
    <label for="selProyecto" class="col-lg-2 control">Proyecto</label>
    <div class="form-group">
        <select class="form-control" id="selProyecto" ng-model="reporte.proyecto" ng-options="item.id as item.nombre for item in proyectos" ng-change="listar(reporte.proyecto)">
            <option value="" disabled selected>Seleccione una Opcion</option>
        </select>
    </div>
  </div>

  <div id="integrantesProyecto">
    <div class="panel panel-primary" style="width: 1100px;">
      <div class="panel-heading">

      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>

              <th>
                <a ng-click="ordenarPor('id')">Id</a>
                <a class="caret" ng-click="ordenarPor('-id')"></a>
              </th>
              <th>
                <a ng-click="ordenarPor('nombre')">Nombre</a>
                <a class="caret" ng-click="ordenarPor('-nombre')"></a>
              </th>
              <th>
                <a ng-click="ordenarPor('fecha_inicio')">Fecha Inicio</a>
                <a class="caret" ng-click="ordenarPor('-fecha_inicio')"></a>
              </th>
              <th>
                <a ng-click="ordenarPor('fecha_fin')">Fecha Fin</a>
                <a class="caret" ng-click="ordenarPor('-fecha_fin')"></a>
              </th>
              <th>
                <a ng-click="ordenarPor('director')">Director</a>
                <a class="caret" ng-click="ordenarPor('-director')"></a>
              </th>
              <th>
                <a ng-click="ordenarPor('etapa')">Etapa</a>
                <a class="caret" ng-click="ordenarPor('-etapa')"></a>
              </th>
              <th>
                <a ng-click="ordenarPor('porc')">Total proyecto realizado</a>
                <a class="caret" ng-click="ordenarPor('-porc')"></a>
              </th>
              <th>
                <a ng-click="ordenarPor('estado')">Estado del proyecto</a>
                <a class="caret" ng-click="ordenarPor('-estado')"></a>
              </th>



            </tr>
          </thead>
          <tbody>
            <tr >
            <td ng-bind="project.id"></td>
            <td ng-bind="project.nombre"></td>
            <td ng-bind="project.fecha_inicio | date:'shortDate'"></td>
            <td ng-bind="project.fecha_fin | date:'shortDate'"></td>
            <td ng-bind="project.director"></td>
            <td ng-bind="project.etapa"></td>
            <td ng-bind="porc"></td>
            <td ng-bind="estado"></td>


            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <tabset>
          <tab heading="Second tab">
              <div class="panel-body" >
                <canvas class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options"></canvas>
            </div>
        </tab>
    </tabset>
</div>
